<div class="row jumbotron" style="margin-top: 20px">
    <div class="col-md-12">
      <div [ngClass]="(statusDevice === 'OFF') ? 'panel panel-danger' : 'panel panel-success'">
        <div class="panel-heading">Appareil : {{nameDevice}} </div>
        <div class="panel-body">
          <div style="margin-bottom: 1em">
              <b>Statut Appareil</b>  : 
              <span class="status1" 
                  *ngIf="deviceStatus === 'OFF'"> </span>
            <span class="status2" 
                  *ngIf="deviceStatus === 'ON'"> </span> 
              ( <b [ngStyle]="{color: getColorDevice()}" >  {{ statusDevice }}</b> )
          </div>
          
          <div class="form-group">
              <input 
              [(ngModel)] = "nameDevice" 
              class="form-control" type="text" name="nameDevice" id="">
          </div>

        </div>
      </div>
    </div>
    <div>
      <p style="margin-bottom: -40px"> <a routerLink="/devices"> <span class="glyphicon glyphicon-circle-arrow-left"> </span> Retour vers la liste des appareils </a></p>
    </div>
</div>
