<div class="container wrapper">
        
  <h3>Tutoriel Angular 7.0.6 | Simulation  de gestion des appareils electroménagers</h3>


  <div class="row">
      <div class="col-md-10 text-center">
          <p class="alert alert-warning">
              <strong><i class="fa fa-exclamation-triangle"> Un dépot de cette application démo est sur Github  <a href="https://github.com/sthanial2002">@sthanial2002 </a></i> dans le cas des TP relatifs au framework Angular</strong>
          </p>
      
      </div>
  </div>

  <div class="row">
    <div class="col-md-10 text-center">
        <p class="alert alert-warning">
            <strong><p> Un exemple de l'application démo est <a href="https://easyapp-by-angular.herokuapp.com/"> Ici </a></p></strong>
        </p>
    
    </div>
</div>
  
  <p> Un exemple de l'application démo est <a href="https://easyapp-by-angular.herokuapp.com/"> Ici </a></p>

  <hr>


  <h3>Outils ayant servis au développement et au déploiement de cette application :</h3>

  <ul>
      <li>Angular 7.0.6</li>
      <li>Bootstrap 3</li>
      <li>Firebase Database</li>
      <li>Github</li>
      <li>Heroku</li>
  </ul>
  
</div>